.gallery__view {
  position: fixed;
  z-index: 1000;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: center;
   justify-content: center;
     -ms-flex-pack: center;

  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;

  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);

  background-color: transparent;

  -webkit-transition: background-color .3s ease-in-out,
                      -webkit-transform .1s ease-in-out .3s;
          transition: background-color .3s ease-in-out,
                      -webkit-transform .1s ease-in-out .3s;
       -o-transition: transform .1s ease-in-out .3s,
                      background-color .3s ease-in-out;
          transition: transform .1s ease-in-out .3s,
                      background-color .3s ease-in-out;
          transition: transform .1s ease-in-out .3s,
                      background-color .3s ease-in-out,
                      -webkit-transform .1s ease-in-out .3s;
}

.gallery__view--active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);

  background-color: rgba(0, 0, 0, 0.5);

  -webkit-transition: background-color .3s ease-in-out .1s,
                      -webkit-transform .1s ease-in-out;
          transition: background-color .3s ease-in-out .1s,
                      -webkit-transform .1s ease-in-out;
       -o-transition: transform .1s ease-in-out,
                      background-color .3s ease-in-out .1s;
          transition: transform .1s ease-in-out,
                      background-color .3s ease-in-out .1s;
          transition: transform .1s ease-in-out,
                      background-color .3s ease-in-out .1s,
                      -webkit-transform .1s ease-in-out;
}

.gallery-card {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  height: 500px;
  width: 900px;
  max-width: 90vw;
  max-height: 90vh;

  background-color: var(--white);

  -webkit-box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.8);

  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);

  -webkit-transition: -webkit-transform .3s ease-in-out;
          transition: -webkit-transform .3s ease-in-out;
       -o-transition: transform .3s ease-in-out;
          transition: transform .3s ease-in-out;
          transition: transform .3s ease-in-out,
                      -webkit-transform .3s ease-in-out;
}

.gallery__view--active .gallery-card {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.gallery-card__picture {
  height: 100%;
  width: 44%;

  -o-object-fit: cover;
     object-fit: cover;
}

.gallery-card__content {
  overflow: hidden;
  height: 100%;
  padding: 122px 50px 50px;
}

.gallery-card__name {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--grey-bold);
}

.gallery-card__date {
  display: block;
  margin-bottom: 39px;
}

.gallery-card__cancel {
  position: absolute;
  top: 20px;
  right: 20px;
}

.gallery-card__cancel rect,
.gallery-card__cancel path {
  fill: var(--black);
  transition: fill .3s ease-in-out;
}

.gallery-card__cancel:hover rect,
.gallery-card__cancel:hover path,
.gallery-card__cancel:focus-visible rect,
.gallery-card__cancel:focus-visible path {
  fill: var(--violet-semi-bold);
}

.gallery-card__cancel:active rect,
.gallery-card__cancel:active path {
  fill: var(--violet-bold);
}

@media (max-width: 1024px) {
  .gallery-card {
    height: 594px;
    width: 594px;
  }
}

@media (max-width: 768px) {
  .gallery-card {
    width: 668px;
  }
}

@media (max-width: 768px) {
  .gallery-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 600px;
  }

  .gallery-card__picture {
    width: 100%;
    height: 33%;
  }

  .gallery-card__content {
    padding: 17px 20px 20px;
  }

  .gallery-card__date {
    margin-bottom: 12px;
  }
}

@supports (-moz-appearance: none) {
  .gallery-card__picture {
    width: unset;
  }
}
