.null-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;

  gap: 24px;
  padding: 25px 0;
}

.null-content__rect {
  position: relative;
  width: 275px;
  height: 189px;
  margin-right: 24px;
  border: 2px solid var(--grey-middle);
}

.null-content__rect::before {
  content: '';
  position: absolute;
  top: 12px;
  left: 12px;
  right: 12px;
  bottom: 12px;
  background-color: var(--grey-middle);
}

.null-content__content {
  width: 275px;
}
