.about {
  padding: 80px 0 71px;
  background-color: var(--white);
}

.about__title {
  margin-bottom: 16px;
}

.about__text {
  width: 1080px;
  max-width: 100%;
}

@media (max-width: 1024px) {
  .about__text {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .about {
    padding: 49px 0 41px;
  }

  .about__title {
    margin-bottom: 12px;
  }
}
