.contacts {
  border: 1px solid var(--grey-semi-light);
}

.contacts__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
   justify-content: space-between;

  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  row-gap: 30px;
  padding: 35px 0;

  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
}

.contacts__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
}

.contacts__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
          flex-grow: 1;

  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;

  row-gap: 13px;
}

.contacts__input-wrapper {
  position: relative;
  min-width: 270px;

  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
          flex-grow: 1;
}

.contacts__input {
  width: 100%;
}

.contacts__submit {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
          flex-grow: 1;

  max-width: 47.5%;
  min-width: 310px;
  white-space: nowrap;
}

.contacts__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;

  gap: 8px;
}

@media (max-width: 1024px) {
  .contacts__wrapper {
    padding: 37px 0;
  }

  .contacts__address {
    gap: 10px;
  }

  .contacts__form {
    width: 100%;
  }

  .contacts__submit {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
            flex-grow: 1;
  }

  .contacts__social {
    gap: 5px;
  }
}

@media (max-width: 576px) {
  .contacts__wrapper {
    padding-bottom: 15px;
    row-gap: 20px;
  }

  .contacts__form {
    row-gap: 20px;
  }

  .contacts__address {
    gap: 0px;
  }

  .contacts__input-wrapper {
    width: 100%;
  }

  .contacts__submit {
    max-width: 44%;
    min-width: unset;
  }
}
