.accordion {
  width: 100%;
}

.accordion__control {
  position: relative;
  z-index: 0;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  width: 100%;
  padding: 32px 0;
  margin-bottom: -1px;

  border-top: 1px solid var(--grey-light);
  border-bottom: 1px solid var(--grey-light);
  color: var(--grey-bold);

  -webkit-transition: border-color .3s ease-in-out;
  -o-transition: border-color .3s ease-in-out;
  transition: border-color .3s ease-in-out;
}

.accordion--active .accordion__control {
  border-color: var(--violet-semi-bold);
}

.accordion__icon {
  position: relative;

  border-radius: 100%;
  width: 50px;
  height: 50px;

  background-color: var(--grey-light);
  outline: 2px solid transparent;
  outline-offset: -2px;

  -webkit-transition: background-color .3s ease-in-out,
    outline .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out,
    outline .3s ease-in-out;
  transition: background-color .3s ease-in-out,
    outline .3s ease-in-out;
}

.accordion--active .accordion__icon {
  background-color: var(--violet-light);
  outline-color: var(--violet-semi-bold);
}

.accordion__subicon {
  display: block;

  width: 100%;
  height: 100%;

  -webkit-transition: -webkit-transform .4s ease-in-out;
  transition: -webkit-transform .4s ease-in-out;
  -o-transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
}

.accordion__subicon::before {
  content: '';
  position: absolute;

  top: calc(50% - 7px);
  left: calc(50% - 6px);
  width: 12px;
  height: 12px;

  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);

  border-right: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
}

.accordion__control:hover {
  z-index: 1;
  border-color: var(--violet-semi-bold);
}

.accordion--active .accordion__control:hover {
  border-color: var(--violet-bold);
}

.accordion__label {
  padding-right: 7px;
  font-weight: 600;

  -webkit-transition: background-color .4s ease-in-out,
    color .4s ease-in-out;
  -o-transition: background-color .4s ease-in-out,
    color .4s ease-in-out;
  transition: background-color .4s ease-in-out,
    color .4s ease-in-out;
}

.accordion--active .accordion__label {
  color: var(--violet-bold);
}

.accordion__control:hover .accordion__label {
  color: var(--violet-semi-bold);
}

.accordion__control:focus-visible {
  z-index: 1;
  border-color: var(--grey-light);
}

.accordion--active .accordion__control:hover .accordion__label,
.accordion--active .accordion__control:focus-visible .accordion__label {
  color: var(--violet-bold);
}

.accordion__control:hover .accordion__icon,
.accordion__control:focus-visible .accordion__icon {
  background-color: var(--violet-light);
}

.accordion__control:focus-visible .accordion__label {
  color: var(--white);
  background-color: var(--violet-semi-bold);
}

.accordion--active .accordion__control:focus-visible .accordion__label {
  color: var(--violet-bold);
  background-color: transparent;
}

.accordion--active .accordion__control:focus-visible {
  border-color: var(--violet-bold);
}

.accordion__control:active {
  z-index: 1;
}

.accordion--active .accordion__subicon {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.accordion__content {
  overflow: hidden;
}

@media (max-width: 576px) {
  .accordion__control {
    padding: 21px 0;
  }

  .accordion__icon {
    width: 30px;
    height: 30px;
  }

  .accordion__subicon::before {
    width: 7px;
    height: 7px;
    top: calc(50% - 3px);
    left: calc(50% - 4px);
  }
}
